*{margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;}

/*dos*/
.dosdiv{display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin: 50px 10px;}

.img{height: 600px;
    width: 450px;
    border-radius: 10px;}

.form{border: 1px solid grey;
    border-radius: 10px;
    height: 600px;
    width: 350px;}

.titulo{text-align: center;
    padding: 20px 20px;}

.iconos {display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 10px;}

.g {height: 30px;
    width: 30px;
    border: 1px solid grey;
    padding: 8px 20px;
    border-radius: 5px;}

.f {height: 30px;
    width: 30px;
    border: 1px solid grey;
    padding: 8px 20px;
    border-radius: 5px;}
    
.a {height: 30px;
    width: 30px;
    border: 1px solid grey;
    padding: 8px 20px;
    border-radius: 5px;}

.or{text-align: center;
margin: 20xp 20xp;}

.order {display:inline-block;
    position: relative;
    text-size-adjust: 3px;
    font-size: small;}

.order::after,.order::before { content:'';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: grey;
    top: 0.3cm;}

.order::before {left:-80px;}
.order::after {right:-80px;}

.botones{text-align: center;
    margin: 8px 8px;}

button{border: none;
margin: 8px 8px;
padding: 8px 15px;
background-color: white;
color: black;
font-weight: 600;}

.email:hover {background-color: rgba(255, 68, 0, 0.852);
    padding: 8px 15px;
    margin: 8px 8px ;
    color: white;
    border-radius: 10px ;}
    .mobile:hover {background-color: rgba(255, 68, 0, 0.852);
    padding: 8px 15px;
    margin: 8px 8px ;
    color: white;
    border-radius: 10px ;}

form{display: flex;
    flex-direction: column;
    font-size: small;}
.uno{margin: 15px 15px;
margin-bottom: 5px;}

.dos{margin: 15px 15px;
margin-bottom: 5px;}

input{border-radius: 5px;
    width: 300px;
    height: 35px;
    border-color: grey;
    text-align: center;}

.forgoten{margin: 20px ;
    margin-top: 1px;
    padding: 0px; 
    font-size: small;}

.bot {justify-content: center;
    text-align: center;
    line-height: 5px;}

.sing{padding: 8px 15px;
    color: white;
    background-color: rgba(255, 68, 0, 0.852);
    border-radius: 5px;
    width: 150px;}

.last{font-size: small;
margin-top: 10px;}

 .register{justify-content: center;
    text-align: center;
    color: orangered;
    font-size: small;
margin-top: 10px;}
    