*{margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;}

/*dos*/
.dosdiv{display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 50px;
    margin-left: 250px ;
    margin-right: 250px;}

.img{height: 530px;
    width: 450px;
    border-radius: 10px;}

.form{border: 1px solid grey;
    border-radius: 10px;
    height: 530px;
    width: 330px;}

.titulo{text-align: center;
    font-size: 110%;
    color: rgba(15, 14, 14, 0.844);
    padding: 12px;}

/*iconos*/
.iconos {display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;}

.g {height: 25px;
    width: 25px;
    border: 1px solid grey;
    padding: 8px 16px;
    border-radius: 5px;
    margin-right: 25px;}

.f {height: 25px;
    width: 25px;
    border: 1px solid grey;
    padding: 8px 16px;
    border-radius: 5px;
    margin-right: 25px;}
    
.a {height: 25px;
    width: 25px;
    border: 1px solid grey;
    padding: 8px 16px;
    border-radius: 5px;}

.or{text-align: center;
    margin: 20xp 20xp;
    font-weight:bolder;
    color: rgba(80, 75, 75, 0.871);}

.order {display:inline-block;
    position: relative;
    text-size-adjust: 3px;
    font-size: small;}

.order::after,.order::before { content:'';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: grey;
    top: 0.3cm;}

.order::before {left:-80px;}
.order::after {right:-80px;}

/*botones*/
.botones{text-align: center;}

button{border: none;
    padding: 8px 25px 8px 25px;
    margin: 6px 6px ;
    margin-top: 20px;
background-color: white;
color: rgba(15, 14, 14, 0.844);
font-weight: 600;}

.email:hover {background-color:  rgba(255, 119, 0, 0.852);
    padding: 8px 25px 8px 25px;
    margin: 6px 6px ;
    color: white;
    border-radius: 10px;
    font-size: small;
    font-weight:bolder;}

.mobile:hover {background-color:  rgba(255, 119, 0, 0.852);
    padding: 8px 25px 8px 25px;
    margin: 6px 6px ;
    color: white;
    font-size: small;
    font-weight:bolder;
    border-radius: 10px;}

    /*formulario*/
form{display: flex;
    flex-direction: column;
    font-size: small;
    font-weight:bolder;
    color: rgba(80, 75, 75, 0.871);
    margin-left: 12px;}

form .grup{
     margin: 15px 15px;
    margin-bottom: 5px;}

form .grup input{ border-radius: 5px;
    border: 1.5px solid grey;
    width: 260px;
    height: 40px;
    margin-top: 5px;
    padding-left: 10px;
    outline: none;}

.ic{position: relative;
    display: flex;
flex-direction: row;}

i{position: absolute;
left: 230px;
bottom: 10px;}

.forgoten{margin: 15px 15px;
    margin-top: 0px;
    font-size: small;
    font-weight:bolder;
    color: rgba(80, 75, 75, 0.871);
    text-align: left;}

    /*ultima parte*/
.fin {justify-content: center;
    text-align: center;
    line-height: 20px;
    margin-top: -10px;}

.sing{padding: 12px 35px;
    color: white;
    font-size: 72%;
    font-weight:bolder;
    background-color: rgba(255, 119, 0, 0.852);
    border-radius: 5px;
    width: 170px;}

.last{font-size: 72%;
    font-weight:bolder;
    color: rgba(80, 75, 75, 0.871) ;
    margin-top: 10px;}

 .register{text-align: center;
    color:  rgba(255, 119, 0, 0.852);
    font-size: 72%;
    margin-bottom: 10px;
    font-weight: bolder;}
    